[package]
name = "babylon-ledger-app"
version = "0.0.1"
authors = ["siy"]
edition = "2021"
description = "Radix Babylon"

[dependencies]
nanos_sdk = { git = "https://github.com/LedgerHQ/ledger-nanos-sdk.git" }
nanos_ui = { git = "https://github.com/LedgerHQ/ledger-nanos-ui.git" }
sbor = { path = "./sbor", default-features = false }

[profile.dev]
opt-level = 0
lto = false

[profile.release]
opt-level = 's'
lto = true

[package.metadata.nanos]
curve = ["secp256k1", "ed25519"]
flags = "0x240"
icon = "icons/nanos_app_radix.gif"
icon_small = "icons/nanos_app_radix.gif"
path = ["44'/1022'"]
name = "Radix Babylon"

[package.metadata.nanox]
curve = ["secp256k1", "ed25519"]
flags = "0x240"
icon = "icons/nanox_app_radix.gif"
icon_small = "icons/nanox_app_radix.gif"
path = ["44'/1022'"]
name = "Radix Babylon"

[package.metadata.nanosplus]
curve = ["secp256k1", "ed25519"]
flags = "0x240"
icon = "icons/nanox_app_radix.gif"
icon_small = "icons/nanox_app_radix.gif"
path = ["44'/1022'"]
name = "Radix Babylon"
